@font-face {
  font-family: "gallery-modren";
  src: local("gallery-modren"),
    url(../../Assets/fonts/gallerymodren.woff) format("woff");
}

@font-face {
  font-family: "sk";
  src: local("sk"), url(../../Assets/fonts/sk.woff) format("woff");
}
